@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

html, body {min-width:320px;}
body.is-lock {overflow:hidden;}
.wrap {}
.header,
.content,
.footer {position:relative;}
.content,
.footer .inner {position:relative;width:100%;max-width:1200px;margin:0 auto;}
.content {padding-bottom:100px;}
.footer {background:#f5513c;color:rgba(255,255,255,.5)}
.footer .inner {position:relative;padding:30px 150px 30px 0;}
img {display:block;max-width:100%;}

.blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

/* icons */
.icon {display:inline-block;}
.icon.icon-arrow-down-white1 {background-image:url('../images/icons/icon-arrow-down-white1.png');background-repeat:no-repeat;background-size:contain;}
.icon.icon-nav-hambuger {background-image:url('../images/icons/icon-hambugger-btn.png');background-repeat:no-repeat;background-size:contain;}
.icon.icon-x-white {background-image:url('../images/icons/icon-x-white.png');background-repeat:no-repeat;background-size:contain;}

/* popup */
.popup-wrap {display:none;position:fixed;top:0;left:0;width:100%;height:100%;opacity:0;z-index:-1;}
.popup-wrap.is-show {display:block;opacity: 1;z-index:100}
.popup-wrap .pop {position:absolute;min-width:640px;max-width:1024px;top:50%;left:50%;transform: translate(-50%,-50%);z-index:1;background:#fff;}
.popup-wrap .pop-head {position:relative;display:table;width:100%;padding:0 80px 0 20px;height:60px;background:#2a8ad4;color:#fff;}
.popup-wrap .pop-head .pop-tit {display:table-cell;font-size:18px;line-height:1.2;vertical-align:middle;text-overflow: ellipsis;overflow:hidden;white-space: nowrap;width:100%;max-width:160px;}
.popup-wrap .pop-head .x-close {position:absolute;top:0;right:0;width:60px;height:60px;}
.popup-wrap .pop-content{height:auto;max-height:300px;overflow:hidden;overflow-y:auto;padding:12px 20px;}
.popup-wrap .pop-foot {text-align:center;padding:5px 0 5px;}
.popup-wrap .pop-foot .foot-inner {position:relative;left:-5px;}
.popup-wrap .pop-foot button {margin:5px;}

.popup-wrap.wide .pop{top:0;left:0;width:100%;height:100%;transform: translate(0,0);max-width:100%;background:transparent;min-width:auto;}
.popup-wrap.wide .pop-head {padding-right:140px;height:120px;background:transparent}
.popup-wrap.wide .pop-head .x-close {width:120px;height:120px;}
.popup-wrap.wide .pop-content {height:calc(100% - 240px);max-height:100%;}
.popup-wrap.wide .pop-foot {height:120px;}

.popup-wrap .dimmed {position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);}

/* overlay */
.overlay {position:fixed;z-index:99;}
.overlay.d-right{top:50%;right:0;-webkit-transform: translate(100%, -50%);-ms-transform: translate(100%, -50%);transform: translate(100%, -50%);-webkit-transition: -webkit-transform .3s;transition: -webkit-transform .3s;-o-transition: transform .3s;transition: transform .3s;transition: transform .3s, -webkit-transform .3s;-webkit-box-shadow:10px 10px 10px 0 rgba(0,0,0,.4);box-shadow:10px 10px 10px 0 rgba(0,0,0,.4)}
.overlay.d-right.is-show {-webkit-transform: translate(0, -50%);-ms-transform: translate(0, -50%);transform: translate(0, -50%);-webkit-transition: -webkit-transform .3s;transition: -webkit-transform .3s;-o-transition: transform .3s;transition: transform .3s;transition: transform .3s, -webkit-transform .3s;}
.overlay .overlay-inner {display:-webkit-box;display:-ms-flexbox;display:flex;}
.overlay .intro-tbl-col {background: #fff;border: 3px solid #f5513c;border-radius: 10px;overflow: hidden;}
.overlay .intro-tbl-col a {color:#f5513c;-webkit-transition: color .3s , font-weight .3s;-o-transition: color .3s , font-weight .3s;transition: color .3s , font-weight .3s;}
.overlay .intro-tbl-col a:hover {color: #303030;font-weight:900;-webkit-transition: color , font-weight .3s;-o-transition: color , font-weight .3s;transition: color , font-weight .3s;}
.overlay .tbl-event-btn {width:30px;height:30px;border:0;padding:0;margin:30px 0 0 -30px;background: #f5a63c;font-size:0;cursor:pointer;border-radius:5px 0 0 5px;transition: background .3s;}
.overlay .tbl-event-btn .icon {width:10px;height:10px;margin:10px;-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);-webkit-transition: -webkit-transform .3s;transition: -webkit-transform .3s;-o-transition: transform .3s;transition: transform .3s;transition: transform .3s, -webkit-transform .3s;}
.overlay.d-right.is-show .tbl-event-btn .icon {-webkit-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-90deg);-webkit-transition: -webkit-transform .3s;transition: -webkit-transform .3s;-o-transition: transform .3s;transition: transform .3s;transition: transform .3s, -webkit-transform .3s;}

/* header */
.header{position:absolute;top:0;left:0;width:100%;z-index:99;height:120px;background:rgba(255,255,255, 0);transition: height .3s,  background .3s}
.header .inner {padding:0 120px}
.header .inner .in-left {position:absolute;top:0;left:0;}
.header .inner .in-center {}
.header .inner .in-right {position:absolute;top:0;right:0;}
.header.is-fixed {position:fixed;background:rgba(255,255,255, .9);border-bottom:1px solid #ddd;transition:height .3s, background .3s}
.header.is-active {position:fixed;height:80px;transition: height .3s;}

/* gnb */
.popup-wrap .gnb-list {text-align:center;}
.popup-wrap .gnb-list li {line-height:1.2;}
.popup-wrap .gnb-list li + li {margin-top:10px;}
.popup-wrap .gnb-list li a {font-size:24px;transition: font-size .3s}
.popup-wrap .gnb-list li a:hover{font-size:30px;transition: font-size .3s}

/* visual-spot */
.visual-spot {position:relative;background-color:#000;overflow:hidden;-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s;}
.visual-spot .spot-inner {position:relative;text-align:center;overflow:hidden;max-width:1200px;margin:0 auto;}
.visual-spot .bg-area {position:relative;width:100%;height:550px;text-align:center;padding-top:30px;}

.visual-spot .text-area {position:absolute;top:50%;left:50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);margin-left:123px;z-index:1;text-align:left;}
.visual-spot .text-area .text1{position:relative;font-size:20px;color:rgba(255,255,255,1);-webkit-animation: textScary .1s infinite , textOpacity .4s infinite;animation: textScary .1s infinite , textOpacity .4s infinite;}
.visual-spot .text-area .text2{position:relative;font-family: "Sacramento", cursive;text-align: center;color:rgba(255,255,255,1);font-size:50px;font-weight:bold;line-height:1.2;-webkit-animation: textScary .1s infinite , textOpacity 1s infinite;animation: textScary .1s infinite , textOpacity 1s infinite;}
.visual-spot .mouse {position:absolute;bottom:-5px;width:50px;z-index:2}
.visual-spot .mouse .inner {position:relative;cursor:pointer;}
.visual-spot .mouse.type1 {-webkit-animation: mouseMoveLeft 10s infinite, mouseScary .1s infinite;animation: mouseMoveLeft 10s infinite, mouseScary .1s infinite;right:0;}
.visual-spot .mouse.type2 {-webkit-animation: mouseMoveRight 8s infinite, mouseScary .1s infinite;animation: mouseMoveRight 8s infinite, mouseScary .1s infinite;left:0;}
.visual-spot .mouse.type3 {-webkit-animation: mouseMoveLeft 15s infinite, mouseScary .1s infinite;animation: mouseMoveLeft 15s infinite, mouseScary .1s infinite;right:0;}
.visual-spot .mouse.type4 {-webkit-animation: mouseMoveRight 12s infinite, mouseScary .1s infinite;animation: mouseMoveRight 12s infinite, mouseScary .1s infinite;left:0;}
.visual-spot .mouse.type5 {-webkit-animation: mouseMoveLeft 6s infinite, mouseScary .1s infinite;animation: mouseMoveLeft 6s infinite, mouseScary .1s infinite;right:0;}
.visual-spot .mouse.type6 {-webkit-animation: mouseMoveRight 5s infinite, mouseScary .1s infinite;animation: mouseMoveRight 5s infinite, mouseScary .1s infinite;left:0;}
.visual-spot .toggle-switch {position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);margin:10px 0 0 300px;border:0;padding:0;width:55px;height:55px;cursor:pointer;z-index:2;background-image:url("../images/switch-off.png");background-color:transparent;background-repeat:no-repeat;background-position:0 0;opacity:.2;outline: none;background-size:contain;-webkit-transition: opacity .3s;-o-transition: opacity .3s;transition: opacity .3s;}
.visual-spot .toggle-switch:hover {opacity:.7;-webkit-transition: opacity .3s;-o-transition: opacity .3s;transition: opacity .3s;}

.visual-spot.is-on .toggle-switch {-webkit-animation: boxblink 12s infinite;animation: boxblink 12s infinite;background-image:url("../images/switch-on.png");}
.visual-spot.is-on .mouse.type1 {-webkit-animation: quickMouseLeft 1s forwards;animation: quickMouseLeft 1s forwards;}
.visual-spot.is-on .mouse.type2 {-webkit-animation: quickMouseRight 1.3s forwards;animation: quickMouseRight 1.3s forwards;}
.visual-spot.is-on .mouse.type3 {-webkit-animation: quickMouseLeft .9s forwards;animation: quickMouseLeft .9s forwards;}
.visual-spot.is-on .mouse.type4 {-webkit-animation: quickMouseRight .6s forwards;animation: quickMouseRight .6s forwards;}
.visual-spot.is-on .mouse.type5 {-webkit-animation: quickMouseLeft .9s forwards;animation: quickMouseLeft .9s forwards;}
.visual-spot.is-on .mouse.type6 {-webkit-animation: quickMouseRight .7s forwards;animation: quickMouseRight .7s forwards;}
.visual-spot.is-on .text-area .text1 {-webkit-animation: textScary .1s forwards , textOpacity .4s forwards;animation: textScary .1s forwards , textOpacity .4s forwards, boxblink 12s infinite;opacity:1;}
.visual-spot.is-on .text-area .text2{text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;  color: #fff6a9;animation: textShadowblink 12s infinite;-webkit-animation: textShadowblink 12s infinite;opacity:1;}

/* hidden-nav */
.hidden-nav {position:absolute;top:50%;left:0;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.hidden-nav button {padding:0;margin:0;}
.hidden-nav .icon-nav-hambuger {width:40px;height:40px;margin:0}
.hidden-nav.is-show {display:block;}

/* tabs */
.tabs-nav {display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-flow:nowrap;flex-flow:nowrap;padding:10px;}
.tabs-nav li {position:relative;}
.tabs-nav li + li {padding:0 0 0 11px;margin:0 0 0 10px;}
.tabs-nav li + li:before {content:'';position:absolute;top:50%;left:0;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);width:1px;height:10px;background:#6c6e71;}
.tabs-nav li a{color: #f5e0d9}
.tabs-nav li .is-active{color:#f56c6c}

/* banner */
.banner a{position:relative;display:block;}
.banner a:hover::after {display:block;}
.banner a .tooltip {text-align:center;}
.banner a img {display:block;}

/* tooltip */
.tooltip {position:absolute;right:0;bottom:100%;margin-left:0;margin-bottom:20px;background:#db712e;color:#fff;border-radius:10px;padding:10px;line-height:1.2;text-align:left;-webkit-box-shadow: 10px 10px 10px 0 rgba(0,0,0,.2);box-shadow: 10px 10px 10px 0 rgba(0,0,0,.2);font-size:12px;white-space:nowrap;}
span.tooltip::after {content:'';display:block;position:absolute;top:100%;right:0;width:0;height:0; border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid #db712e;-webkit-transform: translate(-20px, -2px);-ms-transform: translate(-20px, -2px);transform: translate(-20px, -2px);opacity:1 !important}

/* xmas theme */
body.x-mas .overlay table.tbl-col th {border-top: 1px solid #276f22;border-bottom: 1px solid #276f22;background: #276f22;}
body.x-mas .overlay .intro-tbl-col {border: 3px solid #276f22;}
body.x-mas .overlay .tbl-event-btn {background: #f5513c;}
body.x-mas .overlay .intro-tbl-col a {color: #303030;}
body.x-mas .overlay table.tbl-col .num-box {border:1px solid #276f22;background: #276f22;}
body.x-mas .overlay table.tbl-col th + th {border-left: 1px solid #276f22;}
body.x-mas .visual-spot {background:#111;-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s;}

/* scroll-top */
.scroll-floating {position:fixed;bottom:128px;left:50%;transform: translateX(-50%);margin-left:600px;width:60px;height:60px;border-radius: 50%;}

/* link */
.block-link {position:relative;display:block;}
.block-link img {display:block;max-width:100%;}

/* photo  list */
.photo-list {position:relative;top:-5px;display:-webkit-box;display:-ms-flexbox;display:flex;list-style:none;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-flow: row wrap;flex-flow: row wrap; place-content: flex-start;}
.photo-list li {width:50%;}

/* animation */
@keyframes textOpacity {
    0%{opacity:.2;}
    50%{opacity:.1;}
    100%{opacity:.2;}
}
@-webkit-keyframes textOpacity {
    0%{opacity:.3;}
    50%{opacity:.1;}
    100%{opacity:.3;}
}

@keyframes textScary {
    0%{top:1px;}
    25%{left:1px;}
    50%{top:-1px;}
    100%{left:-1px;}
}
@-webkit-keyframes textScary {
    0%{top:1px;}
    25%{left:1px;}
    50%{top:-1px;}
    100%{left:-1px;}
}

@keyframes mouseMoveLeft  {
    0%{opacity:0;display:inline-block;}
    4%{opacity:1;}
    20%{right:20%}
    50%{right:45%}
    73%{right:73%}
    100%{right:calc(100% - 50px);opacity:1;}
}
@-webkit-keyframes mouseMoveLeft {
    0%{opacity:0;display:inline-block;}
    4%{opacity:1;}
    20%{right:20%}
    50%{right:45%}
    73%{right:73%}
    100%{right:calc(100% - 50px);opacity:1;}
}

@keyframes mouseMoveRight  {
    0%{opacity:0;display:inline-block;}
    4%{opacity:1;}
    10%{left:10%}
    30%{left:30%}
    70%{left:70%}
    100%{left:calc(100% - 50px);opacity:1;}
}
@-webkit-keyframes mouseMoveRight {
    0%{opacity:0;display:inline-block;}
    4%{opacity:1;}
    10%{left:10%}
    30%{left:30%}
    70%{left:70%}
    100%{left:calc(100% - 50px);opacity:1;}
}

@keyframes mouseScary  {
    0%{-webkit-transform: translate(1px,0);transform: translate(1px,0)}
    25%{-webkit-transform: translate(0,1px);transform: translate(0,1px)}
    50%{-webkit-transform: translate(-1px,0);transform: translate(-1px,0)}
    75%{-webkit-transform: translate(0,-1px);transform: translate(0,-1px)}
}
@-webkit-keyframes mouseScary {
    0%{-webkit-transform: translate(1px,0);transform: translate(1px,0)}
    25%{-webkit-transform: translate(0,1px);transform: translate(0,1px)}
    50%{-webkit-transform: translate(-1px,0);transform: translate(-1px,0)}
    75%{-webkit-transform: translate(0,-1px);transform: translate(0,-1px)}
}


@keyframes  quickMouseLeft {
    0%{right:40%;opacity:1;}
    100%{right:calc(100% - 50px);opacity:0;}
}

@-webkit-keyframes quickMouseLeft {
    0%{right:40%;opacity:1;}
    100%{right:calc(100% - 50px);opacity:0;}
}
@keyframes  quickMouseRight {
    0%{left:50%;opacity:1;}
    100%{left:calc(100% - 50px);opacity:0;}
}
@-webkit-keyframes quickMouseRight {
    0%{left:50%;opacity:1;}
    100%{left:calc(100% - 50px);opacity:0;}
}
@keyframes textAreaMove {
    0%{margin-left:123px;opacity:0}
    100%{margin-left:23px;opacity:1}
}
@-webkit-keyframes textAreaMove {
    0%{margin-left:123px;opacity:0}
    100%{margin-left:23px;opacity:1}
}

@keyframes textShadowblink {
    1%, 20%, 24%, 55% {color: #111;text-shadow: none;}
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;color: #fff6a9;}
}

@-webkit-keyframes textShadowblink { 1%, 20%, 24%, 55% {color: #111;text-shadow: none;}
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;color: #fff6a9;}
}

@keyframes boxblink {
    1%, 20%, 24%, 55% {opacity:.2}
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {opacity:.7;}
}

@-webkit-keyframes boxblink {
    1%, 20%, 24%, 55% {opacity:.2;}
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {opacity:.7;}
}


/* media */
@media ( max-width:1216px ) {
    .photo-list li {-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;}
    .photo-list li a {padding:100px 10px}
}
@media ( max-width:1200px ) {
    /* footer */
    .footer .inner {padding:30px 10px;}

    /* visual-spot */
    /* .visual-spot .text-area {position:relative;margin-top:-100px;left:auto;right:auto;top:0;bottom:auto;transform: translate(0,0);padding:20px;}
    .visual-spot .text-area .text1{font-size:18px;}
    .visual-spot .text-area .text2{font-size:40px;}
    .visual-spot .text-area .text3{font-size:20px;} */
}
@media ( max-width:1024px ) {
    .container {padding: 0 10px;}

    /* visual-spot */
    /* .visual-spot .text-area .text1{font-size:16px;}
    .visual-spot .text-area .text2{font-size:25px;}
    .visual-spot .text-area .text3{font-size:18px;} */

}
@media ( max-width:798px ){
    /* hidden-nav */
    .header .inner {padding:15px 10px 15px;}

    /* visual-spot */
    /* .visual-spot .text-area .text1{font-size:14px;}
    .visual-spot .text-area .text2{font-size:20px;margin-top:10px}
    .visual-spot .text-area .text3{font-size:14px;margin-top:10px} */


    /*.photo-list li {-ms-flex-preferred-size:100%;flex-basis:100%;background-position:center top;margin:5px 0;}*/
    .example {
        display: -ms-grid;
        display: grid;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: -o-linear-gradient(top, white, black);
        background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
        background: linear-gradient(to bottom, white, black);
    }

    .list-01 a{word-break: break-all;}
}

@media ( max-width:460px ){
    .container {margin-top:10px !important;}
    /* visual-spot */
    .photo-list li a {padding:50px 10px}
}