@charset "utf-8";

/*@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");*/

h1.title {font-size:18px;height:20px;line-height:1}
h2.title{font-size:18px;font-weight:bold;margin-bottom:20px;color: #285344}
div + h2.title {margin-top:30px;}
h3.title {}
h3.sub-tit {font-weight:bold;font-size:14px;margin:10px 0;}
.field-set + h3.sub-tit {margin-top:20px;}
select.select {text-indent:5px;border:1px solid #efefef;background:#fff;height:40px;min-width:80px;}
input.input {height:40px;text-indent:10px;padding-right:10px;border:1px solid #efefef;}
input.input:focus {outline:1px solid #000;}
select.select.readonly {}
select.select.disabled {}
input.input[readonly],
input.input[readonly="readonly"]{background:#efefef;color:#aaa;}
input.input[disabled],
input.input[disabled="disabled"]{background:#aaa;color:#999;cursor:no-drop}
::-webkit-scrollbar {display:none;}
a{color:#333;text-decoration: none;}
a:hover {text-decoration: underline;}

/* desc */
.desc-group  h1.tit{font-size:20px;font-weight:bold;line-height:1.3;}
.desc-group  p.sub-tit{font-size:12px;margin-top:10px;}
.desc-group  p.text{position:relative;margin-top:10px;padding-top:11px;font-size:14px;line-height:1.5; border-top:1px dotted #ddd;word-break: keep-all}
.desc-group  p.text strong,
.desc-group  p.text em {font-weight:bold;}
.desc-group  p.text .sub-text {font-size:12px;}
.desc-group  p.text .fc-remark {color: #217630}

.header {border-bottom:1px solid #ddd;background:#fff;}
.header .inner{position:relative;padding:10px 70px;height:40px;}
.header .inner h1{text-align:center;}
.header .inner .left-btn {position:absolute;left:0;top:0;}
.header .inner .right-btn {position:absolute;right:0;top:0;}
.header .sub-nav {position:fixed;width:100%;max-width:calc(100% - 40px);top:0;right:0;height:100%;-webkit-transform: translateX(101%);-ms-transform: translateX(101%);transform: translateX(101%);-webkit-transition: -webkit-transform .2s linear;transition: -webkit-transform .2s linear;-o-transition: transform .2s linear;transition: transform .2s linear;transition: transform .2s linear, -webkit-transform .2s linear;z-index:99;}
.header .sub-nav.is-show {-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0)}
.header .nav-inner {position:relative;padding-left:40px;height:100%;}
.header .nav-inner .scroll-panel {overflow:hidden;overflow-y:auto;background:#fff;height:100%;padding:20px;-webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,.3);box-shadow: 10px 10px 10px 10px rgba(0,0,0,.3);z-index:99}
.container .content {width:100%;max-width:1200px;margin:0 auto;-webkit-transition: padding .3s linear;-o-transition: padding .3s linear;transition: padding .3s linear;padding:50px 5px 50px;}

.section {padding:40px 0;}
.section + .section {border-top:1px dotted #ddd;}
.section-inner + .section-inner {margin-top:50px;}

.footer .inner{position:relative;padding:20px 0;max-width:1200px;margin:0 auto;font-size:12px;border-top:1px dotted #ddd;}

.side-nav{position:fixed;top:0;left:0;width:100%;height:100%;-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%);background:#fff;-webkit-transition: -webkit-transform .2s linear;transition: -webkit-transform .2s linear;-o-transition: transform .2s linear;transition: transform .2s linear;transition: transform .2s linear, -webkit-transform .2s linear;border-radius:30px 30px 0 0;-webkit-box-shadow:15px 15px 15px 0 rgba(0,0,0,.4);box-shadow:15px 15px 15px 0 rgba(0,0,0,.4);padding:20px;z-index:101}
.side-nav.is-show {-webkit-transform: translateY(4%);-ms-transform: translateY(4%);transform: translateY(4%)}
.dimmed {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0, .6); z-index:100;}

.open-side-nav-btn {display:inline-block;padding:10px;font-size:0;border-right:1px solid #ddd;}
.open-side-nav-btn svg{width:20px;height:20px;-webkit-transition: -webkit-transform .2s linear;transition: -webkit-transform .2s linear;-o-transition: transform .2s linear;transition: transform .2s linear;transition: transform .2s linear, -webkit-transform .2s linear}
.close-side-nav-btn {display:block;text-align:center;}
.close-side-nav-btn svg {width:20px;height:20px;}
.open-sub-nav-btn{display:inline-block;padding:10px;font-size:0;border-left:1px solid #ddd;}
.open-sub-nav-btn svg{width:20px;height:20px;-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}
.close-sub-nav-btn {position:absolute;top:0;left:0;padding:10px;font-size:0;-webkit-box-shadow: -3px 3px 3px 0 rgba(0,0,0,.3);box-shadow: -3px 3px 3px 0 rgba(0,0,0,.3);background:#f70000;}
.close-sub-nav-btn svg{width:20px;height:20px;}
.close-sub-nav-btn svg path{fill:#fff;}

.field-set {position:relative;}
.field-set + .field-set {margin-top:5px;}
.field-set .input {width:100%;}
.field-set > button {position:absolute;right:0;top:50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);cursor:pointer;height:40px;}
.field-set.search-type {padding-right:80px;}
.field-set.search-type > input.input {width:100%;}
.field-set.search-type > button {width:75px;}
.field-set.tel-type {padding-left:125px;}
.field-set.tel-type .select{position:absolute;left:0;top:0;height:40px;width:120px;}
.field-set.tel-type .field-set-inner .input {width:200px;}
.field-set .field-set-inner {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-flex:1;-ms-flex:1;flex:1}
.field-set .field-set-inner .input + .input {margin-left:5px;}
.field-set .default-link {font-size:inherit;color:#333;}

/* table */
.row-table-group {border-top:1px solid #c7d3dc;}
.row-table-field {display:-webkit-box;display:-ms-flexbox;display:flex;}
.row-table-field .field-th{padding:16px;border-right:1px solid #c7d3dc;border-bottom:1px solid #c7d3dc;font-size:14px;width:200px;background:#cedfea;font-weight:bold;line-height:1.5}
.row-table-field .field-td{padding:10px;-webkit-box-flex:1;-ms-flex:1;flex:1;border-bottom:1px solid #c7d3dc;}
.row-table-field .field-td input {-webkit-transition: width .2s linear;-o-transition: width .2s linear;transition: width .2s linear}
.row-table-field .ai-center {align-items: center}

.col-table-group {position:relative;overflow:hidden;overflow-x:auto;}
.col-table-group table {table-layout: fixed;width:100%;border-top:1px solid #c7d3dc;}
.col-table-group table th {padding:20px;background: #cedfea;border-bottom:1px solid #c7d3dc;font-size:16px;font-weight:bold;-webkit-transition: all .2s linear;-o-transition: all .2s linear;transition: all .2s linear;line-height:1.4;vertical-align:middle;color:#333;}
.col-table-group table th + th {border-left:1px solid #c7d3dc}
.col-table-group table td {border-bottom:1px solid #dadada;padding:20px;font-size:14px;-webkit-transition: all .2s linear;-o-transition: all .2s linear;transition: all .2s linear;line-height:1.3;color:#555;background:#fff;}
.col-table-group table td + td {border-left:1px solid #dadada;}

.scroll-notice {position:absolute;top:50%;left:50%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);border:3px solid #000;border-radius: 50%;padding:10px;background:rgba(255,255,255,.4);z-index:-1;opacity:0;visibility: hidden}
.scroll-notice svg {width:50px;height:50px;}
.scroll-notice.is-hide {z-index:-1;opacity:0;visibility: hidden;}

span.sub-desc {font-size:12px;color:#666;}
p.sub-desc {font-size:12px;color:#666;margin-top:10px;}

/* input style */
.size-s {width:40%;}
.size-m {width:60%;}
.size-l {width:70%;}

/* list */
.b-list li{position:relative;padding-left:10px;line-height:1.4;font-size:14px;-webkit-transition: font-size .3s linear;-o-transition: font-size .3s linear;transition: font-size .3s linear}
.b-list li::before {content:'';position:absolute;top:8px;left:3px;}
.style-dash li::before {top:10px;width:3px;height:1px;background:#000;}
.style-circle li::before {width:3px;height:3px;background:#000;border-radius:50%;}
.style-rect li::before {width:4px;height:4px;background:#000;}

.o-list {counter-reset:section sub-section;}
.o-list li{position:relative;padding-left:15px;line-height:1.4;font-size:14px;-webkit-transition: font-size .3s linear;-o-transition: font-size .3s linear;transition: font-size .3s linear}
.o-list li::before {content:counters(section, "-")".";position:absolute;top:0;left:0;counter-increment:section}
.o-list li li{padding-left:28px;}

.style-alpha li{padding-left:17px;}
.style-alpha li:before{content:counter(section, upper-alpha)".";}

/* tab */
.tabs .tab-navi ul{display:-webkit-box;display:-ms-flexbox;display:flex;}
.tabs .tab-navi ul li a{position:relative;display:block;padding:10px 20px;color:#303030;-webkit-transition: color .3s linear;-o-transition: color .3s linear;transition: color .3s linear}
.tabs .tab-navi ul li a::after{content:'';position:absolute;left:0;width:100%;bottom:0;height:2px;background: #eeeeee;-webkit-transition: background .3s linear;-o-transition: background .3s linear;transition: background .3s linear}
.tabs .tab-navi ul li.is-active a {color:#f7831f}
.tabs .tab-navi ul li.is-active a::after {background: #f7831f}
.tabs .tab-container .tab-content{display:none;padding:10px;min-height:100px;line-height:1.4;font-size:14px;}
.tabs .tab-container .tab-content.is-show{display:block;}

/* pagination */
.pagination {display:flex;justify-content: center;flex-wrap: nowrap}
.pagination ul {font-size:0;min-width:46px;overflow:hidden;height:40px;text-align:center;}
.pagination ul li {display:inline-block;vertical-align: top;margin:3px;}
.pagination ul li a {display:block;font-size:16px;padding:8px 10px;font-weight:bold;background:#fff;color:#0f92f7;border:2px solid #0f92f7;transition: background .2s linear, color .2s linear}
.pagination ul li a:hover,
.pagination ul li.is-active a{background:#0f92f7;color:#fff;}
.pagination .ctrl-btn {margin:3px;font-size:16px;padding:8px 5px;font-weight:bold;background: #fff;color:#0f92f7;border:2px solid #fff;}

/* btn */
.btn {display:inline-block;padding:0 10px;border:1px solid #ddd;height:42px;line-height:42px;font-weight:bold;}
.bg-white {background:#fff;}
.fc-red {color:#f70000 !important}

/* align */
.tal {text-align:left;}
.tac {text-align:center;}
.tar {text-align:right;}

.vat {vertical-align: top}
.vam {vertical-align: middle}

/* margin */
.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}

/* etc */
.blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.single-ellipsis {-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}

@-webkit-keyframes fadeInOutAni {
    0%{opacity:0;}
    50%{opacity:1;}
    100%{opacity:0;}
}
@keyframes fadeInOutAni {
    0%{opacity:0;}
    50%{opacity:1;}
    100%{opacity:0;}
}
@media (max-width:767px) {
    h2.title{font-size:16px;}
    h3.sub-tit {font-size:12px;margin:5px 0;}
    .header {min-width:320px;position: fixed;top: 0;left: 0;width: 100%;z-index:2;}
    .container {margin-top:40px;-webkit-transition: margin .3s linear;-o-transition: margin .3s linear;transition: margin .3s linear}
    .container .content {padding:10px;}

    .row-table-group {border:0;}
    .row-table-field {display:block;}
    .row-table-field .field-th {display:block;width:100%;background:#fff;border:0;padding-bottom:0;}
    .row-table-field .field-td {border:0;}
    .row-table-field .field-td input{width:100%;}
    .row-table-field .field-td .sub-desc {display:block;margin-top:5px;}
    .row-table-field + .row-table-field {margin-top:10px;padding-top:11px;border-top:1px dotted #ddd;}

    .scroll-notice{-webkit-animation: fadeInOutAni 1s infinite;animation: fadeInOutAni 1s infinite;z-index:1;visibility: visible;}
    .col-table-group table{width:767px;}
    .col-table-group table th {padding:10px;font-size:14px;}
    .col-table-group table td {padding:10px;font-size:12px;}

    .b-list li {font-size:12px;}
    .b-list li::before {top:6px;}
    .style-dash li::before {top:8px;}
    .o-list li{font-size:12px;}

    .tabs .scroll-horizontal {position:relative;width:100%;overflow:hidden;overflow-x:auto;}
    .tabs .scroll-horizontal .scroll-notice{}
    .tabs .scroll-horizontal .scroll-notice svg {width:20px;height:20px;}
    .tabs .scroll-horizontal ul{max-width:767px;width:100%;}
    .tabs .scroll-horizontal ul{max-width:767px;width:100%;}
    .tabs .scroll-horizontal ul li a {white-space: nowrap}
    .tabs .scroll-vertical {position:relative;height:150px;overflow:hidden;overflow-y:auto;}
    .tabs .scroll-vertical ul{display:block;}

    .field-set.search-type.v-case {padding:0}
    .field-set.search-type.v-case > button {position:relative;width:100%;top:0;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);margin-top:5px;}
    .field-set.tel-type.v-case {padding:0;}
    .field-set.tel-type.v-case .select{position:relative;width:100%;}
    .field-set.tel-type.v-case .field-set-inner {display:block;margin-top:5px;}
    .field-set.tel-type.v-case .field-set-inner .input {width:100%;}
    .field-set.tel-type.v-case .field-set-inner .input +.input {margin:5px 0 0 0;}
    .field-set.tel-type {padding-left:95px;}
    .field-set.tel-type .select {width:90px;}
    .field-set.tel-type .field-set-inner .input {width:50%;}
}