@charset "utf-8";

@-webkit-keyframes visible-time-01 {
    0% {opacity:0;top:30px;}
    100% {opacity:1;top:0;}
}
@keyframes visible-time-01 {
    0% {opacity:0;top:30px;}
    100% {opacity:1;top:0;}
}
@-webkit-keyframes visible-time-02 {
    0% {opacity:0;top:30px;}
    50% {opacity:0;top:30px;}
    100% {opacity:1;top:0;}
}
@keyframes visible-time-02 {
    0% {opacity:0;top:30px;}
    50% {opacity:0;top:30px;}
    100% {opacity:1;top:0;}
}
@-webkit-keyframes visible-time-03 {
    0% {opacity:0;top:30px;}
    63% {opacity:0;top:30px;}
    100% {opacity:1;top:0;}
}
@keyframes visible-time-03 {
    0% {opacity:0;top:30px;}
    63% {opacity:0;top:30px;}
    100% {opacity:1;top:0;}
}
@-webkit-keyframes visible-time-04 {
    0% {opacity:0;top:30px;}
    75% {opacity:0;top:30px;}
    100% {opacity:1;top:0;}
}
@keyframes visible-time-04 {
    0% {opacity:0;top:30px;}
    75% {opacity:0;top:30px;}
    100% {opacity:1;top:0;}
}