html, body {letter-spacing:-0.05em}
textarea {resize: none;}

h1.title {}
h2.title {font-size:2.4rem}
h3.title {font-size:2.2rem}
h4.title {}

/* font-size */
.fs10 {font-size:1rem !important;}
.fs11 {font-size:1.1rem !important;}
.fs12 {font-size:1.2rem !important;}
.fs13 {font-size:1.3rem !important;}
.fs14 {font-size:1.4rem !important;}
.fs15 {font-size:1.5rem !important;}
.fs16 {font-size:1.6rem !important;}
.fs17 {font-size:1.7rem !important;}
.fs18 {font-size:1.8rem !important;}
.fs19 {font-size:1.9rem !important;}
.fs20 {font-size:2rem !important;}

/* icon */
.icon {display:inline-block;}
.icon.icon-bugger-btn {background:url('../images/icons/icon-hambugger-btn.png') no-repeat;background-size:contain;}

/* layout */
.wrap {background:#efefef;padding:0;}
.container .main-visual {position:relative;transition: margin .1s linear;}
.container .banner-wrap {background:#000;}
.container .banner-wrap .inner {max-width:1200px;margin:0 auto;}
.container .content {padding:20px;background:#fff;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}

/* overlay -nav */
.overlay-nav {position:fixed;top:0;left:0;width:50vw;padding:10px;height:100%;-webkit-transform: translateX(-100%);-ms-transform: translateX(-100%);transform: translateX(-100%);-webkit-transition: -webkit-transform .3s;transition: -webkit-transform .3s;-o-transition: transform .3s;transition: transform .3s;transition: transform .3s, -webkit-transform .3s;background:#fff;z-index:101;overflow:hidden;overflow-y:auto;}
.overlay-nav.is-active {-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);-webkit-transition: -webkit-transform .3s;transition: -webkit-transform .3s;-o-transition: transform .3s;transition: transform .3s;transition: transform .3s, -webkit-transform .3s;-webkit-box-shadow:10px 10px 10px 0 rgba(0,.0,0, .2);box-shadow:10px 10px 10px 0 rgba(0,.0,0, .2)}
.overlay-nav ul li + li {margin-top:30px;}
/* dimmed */
.dimmed {display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0, .8);z-index:100;}

/* swiper */
.swiper-container {background-color:rgb(22, 35, 102);display:flex;align-items: center;overflow:hidden;max-width:100%;}
.swiper-wrapper {-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.swiper-slide {position:relative;text-align:center;font-size:0;}
.swiper-slide > a {display:block;max-width:1200px;margin:0 auto;}
.swiper-slide .slide-desc {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);color:#fff;width:80%;max-width:900px;text-align:left;}
.swiper-slide .slide-desc .desc-tit {position:relative;font-size:40px;opacity:0;top:30px;}
.swiper-slide .slide-desc .desc {position:relative;font-size:18px;margin-top:20px;line-height:1.4;overflow:hidden;overflow-y:auto;max-height:400px;opacity:0;top:30px;}
.swiper-slide.swiper-slide-active .ani-t1 {-webkit-animation: visible-time-01 .6s forwards;animation: visible-time-01 .6s forwards;}
.swiper-slide.swiper-slide-active .ani-t2 {-webkit-animation: visible-time-02 1.2s forwards;animation: visible-time-02 1.2s forwards;}
.swiper-slide.swiper-slide-active .ani-t3 {-webkit-animation: visible-time-03 1.8s forwards;animation: visible-time-03 1.8s forwards;}
.swiper-slide.swiper-slide-active .ani-t4 {-webkit-animation: visible-time-04 2.4s forwards;animation: visible-time-04 2.4s forwards;}
.swiper-slide img {max-width:100%;}
.swiper-button-next, .swiper-button-prev {width:100px;height:100px;border-radius:50%;margin-top:-50px;}
.swiper-button-next{background:rgba(0,0,0, .3) url('../images/icons/icon-swiper-arrow-next.png') center center no-repeat;background-size:30px 30px;right:50%;margin-right:-560px;}
.swiper-button-prev{background:rgba(0,0,0, .3) url('../images/icons/icon-swiper-arrow-prev.png') center center no-repeat;background-size:30px 30px;left:50%;margin-left:-560px;}
.slide-desc .inner {position:relative;}


/* pagenation */
.swiper-pagination-bullet {opacity:.4;background:#fff;transition: width .1s;}
.swiper-pagination-bullet.swiper-pagination-bullet-active {width:30px;border-radius:5px;opacity:1;background: #f7b028;transition: width .6s;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {left:50%;width:auto;transform: translateX(-50%);}

/* gnb */
.header {position:fixed;width:100%;top:0;border-bottom:1px solid transparent;background:rgba(255,255,255, 0);-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s;z-index:2;}

.header .inner {padding:0 20px;}
.header .gnb {padding:14px 0;}
.header .gnb .mo-list {display:none;}
.header .gnb .mo-list .icon {width:20px;height:20px;}
.header .gnb .pc-list {display:block;}
.header .gnb > ul {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.header .gnb > ul > li{position:relative;-ms-flex-preferred-size:1;flex-basis:1;text-align:center;}
.header .gnb > ul > li + li + li {padding:0 0 0 10px;margin-left:10px;}
.header .gnb > ul > li + li:before {content:'';position:absolute;top:50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);left:0;width:1px;height:12px;background:rgba(255,255,255, .4);-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s}
.header .gnb > ul > li > a {color:#fff;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.header.is-fixed {background:rgba(255,255,255, 1);-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s;border-bottom:1px solid #ddd;-webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,.1);box-shadow: 5px 5px 5px 0 rgba(0,0,0,.1)}
.header.is-fixed  .gnb > ul > li > a {color:#505050;}
.header.is-fixed .gnb > ul > li + li:before {background:#505050;}

/* section */
.section + .section {margin-top:30px;}

/* desc */
.section p.desc {line-height:1.4;}

/* list */
.u-list > li{position:relative;padding-left:12px;line-height:1.4;}
.u-list > li:before {content:'';position:absolute;background:#303030;}
.u-list > li + li {margin-top:5px;}

.u-list.c-type > li:before{top:9px;left:0;width:5px;height:5px;border-radius:50%;}
.u-list.d-type > li:before{top:10px;left:0;width:4px;height:1px;}


/* desc-group */
.desc-group:after {content:'';clear:both;display:block;}
.desc-group {display:flex;}
.desc-group .left{max-width:50%;}
.desc-group .right{width:100%;max-width:700px;margin-left:20px;}
.desc-group .group-inner {border:1px solid #ddd;background:#efefef;padding:20px;}
.desc-group .group-inner p {letter-spacing: 0.1em}

/* textarea */
.textarea {width:100%;height:300px;border:0;background:#1d1e22;color:#fff;font-size:16px;outline:none;padding:20px;}

@media (max-width:1180px){
    .swiper-button-next{margin-right:0;right:10px;}
    .swiper-button-prev{margin-left:0;left:10px;}
    .swiper-slide .slide-desc {max-width:700px;}
}
@media (max-width:1024px){
    .swiper-button-next{background-size:25px  25px;width:50px;height:50px;margin-top:-25px;}
    .swiper-button-prev{background-size:20px 25px;width:50px;height:50px;margin-top:-25px;}
    .swiper-slide .slide-desc {max-width:600px;}
    .swiper-slide .slide-desc .desc-tit {font-size:34px;}
    .swiper-slide .slide-desc .desc {font-size:14px;margin-top:15px;}
}

@media (max-width:768px) {
    .container .main-visual {margin-top:50px;}

    .header .gnb > ul > li > a {color:#000;}

    .swiper-button-next,
    .swiper-button-prev {display:none;}
    .swiper-slide .slide-desc {max-width:748px;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical; word-wrap:break-word;}
    .swiper-slide .slide-desc .desc-tit {font-size:26px;}
    .swiper-slide .slide-desc .desc {display:inline;margin-left:5px;color: #bfbfbf}

    .header .gnb .mo-list {display:block;}
    .header .gnb .pc-list {display:none;}

    .section h2.title {font-size:2rem}
}

@media (max-width:640px) {
    .swiper-slide .slide-desc {max-width:620px;}
    .swiper-slide .slide-desc .desc-tit {font-size:20px;}
    .swiper-slide .slide-desc .desc {font-size:13px;margin-top:10px;}

    .section h2.title {font-size:1.8rem}
}

@media (max-width:420px) {
    .swiper-slide .slide-desc {max-width:400px;}
    .swiper-slide .slide-desc .desc-tit {font-size:14px;}
    .swiper-slide .slide-desc .desc {font-size:12px;margin-top:5px;}

    .section h2.title {font-size:1.6rem}
}